body {
    font-size: 15pt;
    background-color: skyblue
}
h1{
  background-color: #000000;
  color:red;
  border:15px;
}
h6{
  color:#0DFF3F;
  text-decoration: underline;
}
p{
  text-align: justify;
  }
form{
  background-color: green;
  text-align: justify;
  border-width: 16px
}
label{
  font-size: 18pt;
  color :#000000;
 
}
input{
  font-size: 23px
}
h2{
  color:#00FF0E;
  text-decoration: underline;
  
}
footer{
  background-color:black;
}
